* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

#header {
    width: 100%;
    height: 15vh;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.logo {
    width: 140px; 
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: plum;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/* -------------------content-------------------- */

#poem {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

span {
    color: plum;
}

h2,h4 {
    color: plum;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

p {
    color: white;
    padding: 20px;
    line-height: 1.5;
}

.onibaba {
    margin: 0 auto;
    align-content: center;
}

.moloch {
    margin: 0 auto;
    align-content: center;
}

figcaption {
    text-align: center;
    margin-bottom: 30px;
}

.post {
    display: grid;
    max-width: 1000px;
    margin: 50px auto;
    grid-gap: 10px 50px;
    grid-template-columns: 3fr 12fr 3fr;
}

.post > * {
    grid-column: 2 / span 1;
}

img {
    padding: 0px 0;
    max-width: 100%;
}

.post > figure {
    grid-column: 1 / span 3;
}

a {
    text-decoration: underline;
    color: thistle;
}

iframe {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%; 
    height: 450px;
}

/* thank you w3school */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: 1px solid plum; /* Remove outline */
    background-color: black; /* Set a background color */
    color: plum; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

@media screen and (max-width:600px) {
    .post > * {
        grid-column: 1 / span 3;
    }

    #change-color {
        padding-top: 50px;
    }

    #poem {
        font-size: 13px;
    }
}

